<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <%- include('layout/header'); -%>

    <main>

        <div>


            <% if (data) { %>
                <%data.forEach(data=>{%>

                    <h4><%=data.type%></h4>
                    <p><%=data.setup%></p>
                    <p><%=data.punchline%></p>
                    <a href="details/<%=data.id%>"><button>details</button></a>
            
            
                    <%})%>
                          <% } %>


              


        </div>
    </main>

</body>
</html>